services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: ${NAME}
    hostname: ${NAME}
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    networks:
      ottoinfo:
        ipv4_address: ${IP4} # Static IP
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer_data:/data
    labels:
      # Orb Stack
      - dev.orbstack.domains=${SUB_DOMAIN}.orb.local
      #  Traefik
      - traefik.enable=true
    # https://docs.portainer.io/advanced/cli
    command: --admin-password "${PORTAINER_PASSWORD}"

volumes:
  portainer_data:
