# Usage
#   Start:          docker compose up
#   Stop:           docker compose down
#   Destroy:        docker compose down -v

include:
  # APPS
  - path: frontendServices/docker-compose.yaml
    env_file:
      - frontendServices/.env
      - .env
  # - backendServices/docker-compose.yaml
  # # NETWORK
  # - dns/docker-compose.yaml # Reverse Proxy
  - path: traefik-proxy/docker-compose.yaml # Reverse Proxy
    env_file:
      - traefik-proxy/.env
      - .env
  # # ADDITIONAL
  # - additionalServices/checkmk/docker-compose.yaml
  - additionalServices/dozzle/docker-compose.yaml
  # - additionalServices/it-tools/docker-compose.yaml
  # - additionalServices/portainer/docker-compose.yaml
  # - additionalServices/obsidian/docker-compose.yaml

# Create/Setup Networks
networks:
  # If no other networks are defined on the service, it will be in "default" network by default
  traefik:
    name: ${TRAEFIK_NETWORK_NAME}
    driver: ${TRAEFIK_NETWORK_DRIVER}
    ipam:
      config:
        - subnet: ${TRAEFIK_NETWORK_SUBNET}
  services:
    name: ${SERVICES_NETWORK_NAME}
    driver: ${SERVICES_NETWORK_DRIVER}
    ipam:
      config:
        - subnet: ${SERVICES_NETWORK_SUBNET}
