services:
  checkmk:
    image: "checkmk/check-mk-raw:2.4.0-latest"
    container_name: ${NAME}
    hostname: ${NAME}
    restart: unless-stopped
    environment:
      - CMK_PASSWORD=${CMK_PASSWORD}
      - TZ=${TZ}
      - CMK_SITE_ID=${CMK_SITE_ID}
      - CMK_LIVESTATUS_TCP=${CMK_LIVESTATUS_TCP}
    volumes:
      - monitoring:/omd/sites
      - ./plugins:/usr/lib/check_mk_agent/plugins
    tmpfs:
      - /opt/omd/sites/cmk/tmp:uid=1000,gid=1000
    ports:
      - 5080:5000
      - ${HTTP_PORT_FORWARD}:${HTTP_PORT}
    networks:
      ottoinfo:
        ipv4_address: ${IP4} # Static IP
    labels:
      # Orb Stack
      - dev.orbstack.domains=${SUB_DOMAIN}.orb.local
      - dev.orbstack.http-port=5000
      #  Traefik
      - traefik.enable=true

volumes:
  monitoring:
