services:
  dozzle:
    image: amir20/dozzle:latest
    container_name: ${NAME}
    hostname: ${NAME}
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    networks:
      ottoinfo:
        ipv4_address: ${IP4} # Static IP
    ports:
      - "${HTTP_PORT_FORWARD}:${HTTP_PORT}/tcp"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      # Orb Stack
      - dev.orbstack.domains=${SUB_DOMAIN}.orb.local
      #  Traefik
      - traefik.enable=true
